header {
    display: flex;
    padding-inline: 8px;
    padding-block: 16px;
    background-color: #333;
    color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        cursor: pointer;
    }
    span:hover{
        color: gray;
    }
    ul {
        list-style: none;

        li {
            cursor: pointer;
        }
        li:hover {
            color: gray;
        }
    }
}